name: Deploy PartyKit

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install --production

      - name: Deploy to PartyKit
        run: npx partykit deploy
        env:
          PARTYKIT_LOGIN: hadijaffri
          PARTYKIT_TOKEN: ${{ secrets.PARTYKIT_TOKEN }}
